* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

input,
input:hover,
input:focus,
input:focus-within {
    border: none;
    box-shadow: none;
    outline: none;
}

button {
    border: none;
}

ul,
li {
  padding: 0;
  list-style: none;
}

body {
    background-image: url(../public/images/app-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.app-box {
    max-width: 500px;
    background: #3c424a;
    height: calc(100vh - 100px);
    margin: 50px auto;
    padding: 20px 40px;
}

.day-head {
    font-size: 25px;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.date-text {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 5px;
    opacity: 0.4;
}

.input-box {
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

.input-box input {
    width: 100%;
    height: 40px;
    background: #343a40;
    border: 1px solid #333;
    border-radius: 3px;
    padding: 0 10px;
    color: #fff;
}

.input-box .add-btn {
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    background-color: #f06292;
    cursor: pointer;
}

.task-list {
    margin-top: 40px;
    padding: 0 10px 40px 0;
    height: 334px;
    overflow: auto;
}   
.task-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: none;
	border-radius: 10px;
	background-color: none;
}

.task-list::-webkit-scrollbar
{
	width: 5px;
	background-color: none;
}

.task-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1d2024;
}

.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  box-shadow: 0 .3px #fff;
}

.task-left{
  display: flex;
  gap: 10px;
  align-items: center;
}

.task-left .task-name{
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.task-del{
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.cross-text{
    text-decoration: line-through;
}